* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #907ad6;
  display: flex;
  gap: 5rem;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-left: 10%;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.menu {
  display: flex;
  list-style-type: none;
  gap: 5rem;
  align-items: center;
}

.menu__item a {
  color: white;
  text-decoration: none;
}
.menu__item:hover {
  opacity: 0.65;
}
.introPrincipal {
  background-color: #907ad6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-1 {
  text-transform: capitalize;
  color: white;
  font-size: 4.5rem;
  font-weight: 400;
}
.text-1-intro {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-1-description {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 5%;
  margin-right: 20%;
}

.img-box {
  display: flex;
  justify-content: end;
  width: 99%;
}
.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 6%;
  padding-inline-end: 6%;
  padding-bottom: 6%;
}

.download-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 5%;
}
footer {
  background-color: black;
  padding-top: 1rem;
}
.footer-outro {
  background-color: #212121;
  color: white;
}
.footer-outro a {
  color: white;
}
.footer-outro a i {
  font-size: 1rem;
  margin-left: 1rem;
  display: flex;
}
.footer-outro__icons {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.footer-bottom_copy {
  display: flex;
  color: gray;
  text-decoration: none;
  font-weight: 400;
  text-decoration: none;
  justify-content: center;
}
.footer-bottom_copy a:hover {
  color: purple;
  text-decoration: underline;
}
.img-photo img {
  max-width: 70%;
  padding-left: 5rem;
  padding-top: 5rem;
}
.img__photo-right img {
  max-width: 90%;
  padding-left: 5rem;
  padding-top: 5rem;
}
.contenedor {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  /*grid-template-areas:
    "img-photo    about-ask           about__text"
    "h3          about__text-right    img__photo-right"
    "img-photo    about-ask           about__text";*/
}
.container {
  grid-column-start: 2;
  grid-column-end: -1;
}

.contenedor > h2 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.about__text-right > article {
  display: flex;
}

.img-box img {
  animation-name: ballenaMov;
  animation-duration: 2s;
  animation-fill-mode: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes ballenaMov {
  0% {
    opacity: 0;
    transform: translate(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.start h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-top: 3rem;
}

.start h2 {
  display: flex;
  justify-content: center;
  font-weight: 400;
}
.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
img {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}
.tarjetas h2 {
  display: flex;
  justify-content: center;
}
.tarjetas p {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.tarjetas div {
  background: #907ad6;
}
.tarjetas div:hover {
  border: 1px solid #907ad6;
}
div button {
  display: flex;
  justify-content: center;
  color: #907ad6;
  padding: 0.5rem;
  text-align: center;
}
.explain {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.noviembre ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #907ad6;
}
.noviembre h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.first-day {
  grid-column-start: 2;
}
.day-name {
  background: #907ad6;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.noviembre li {
  display: flex;
  justify-content: center;
  border: 1px solid #907ad6;
  padding-bottom: 1.5rem;
}
.text-down {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.start_merch h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-top: 3rem;
}

.start_merch h2 {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.tarjetas_merch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.img_merch {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}
.tarjetas_merch h2 {
  display: flex;
  justify-content: center;
}
.tarjetas_merch p {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.tarjetas_merch div {
  background: #584986;
}
.tarjetas_merch div:hover {
  border: 1px solid #907ad6;
}
.comprar {
  display: flex;
  justify-content: center;
  color: #907ad6;
  padding: 0.5rem;
}
